name: Push components to Espressif Component Service

on:
  push:
    branches:
      - main

jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: 'recursive'
      - name: Upload components to component service
        uses: espressif/upload-components-ci-action@v1
        with:
          directories: >
            bsp/viewe_esp32_p4_pi;

            
          namespace: "VIEWESMART"
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
